$width100 :100%;
.setting{
    width: $width100;
    position: relative; 
}
.caroussel{
    width: $width100;
    height: 50%;
    position: relative;
    top: 0px;
}

.separatordiv{
 padding: 20px;
 margin-top: 40px;
 position: relative;
 width: 100%;
 height: 900px;
}
