@import "../ImageSlide/ImageSlide.scss";
.firstSection {
    @include adjustSize(100%, 500px);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.sectionImg {
    position: relative;
    width: 50%;
    border-right: 1px solid red;
}

.sectionImg img {
    @include adjustSize(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    
}
.sectionText{
    @include adjustPosition(flex, center, center, relative);
    width: 50%;
    flex-direction: column; 
}
.imgpng{
    @include adjustSize(30%, 40%);
   position: relative;
   border: 1px solid salmon;
}
.imgpng img{
    @include adjustSize(100%, 100%);
    position: relative;
}