@import "../ImageSlide/ImageSlide.scss";
.firstSection {
    @include adjustSize(100%, 500px);
    display: flex;
    flex-direction: row;
}

.sectionImg {
    position: relative;
    width: 50%;
}

.sectionImg img {
    @include adjustSize(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    
}
.sectionText{
    @include adjustPosition(flex, center, center, relative);
    width: 50%;
    flex-direction: column; 
}
.imgpng{
    @include adjustSize(30%, 40%);
   position: relative;
   
}
.imgpng img{
    @include adjustSize(100%, 100%);
    position: relative;
}

a {
    text-decoration: none;
}